<a href="https://colab.research.google.com/github/sim-mautner/cs1010/blob/main/lectures/03-python-and-programming-fundamentals/04-collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Topic 3<br>
> Python and Programming Fundamentals<br>
> COMP1010<br>
> Week 1-3

> Topic 3.4<br>
> Collections

# 1 - Lists

You have 4 students in the class. Create variables to store their project grades.

In [ ]:
student1 = 90
student2 = 87
student3 = 95
student4 = 76

What happens when you have 10 students in the class? Or 100? I hear there's at least one COMP course with 1000 students.

Lists are:
* Used to store multiple items in one variable
* Created using square brackets (eg `my_list = []`)
* Ordered
* Changeable
* Allow duplicate values

As always (in Python), lists are indexed from 0.

Create a list. (Topic suggestions welcome in chat.)

In [ ]:
insects = []

Print the list.

In [ ]:
print(insects)

[]

In [ ]:
insects = ['cricket', 'ladybug', 'ant']

In [ ]:
print(insects)

['cricket', 'ladybug', 'ant']

Append (add to the end) an element to the list. (And print it again.)

In [ ]:
insects.append('grasshopper')
print(insects)

['cricket', 'ladybug', 'ant', 'grasshopper']

Print out the length of the list.

In [ ]:
print(len(insects))

4

Add some more elements to the list (using `append` and `insert`). Sort the list. (And print it again.)

In [ ]:
insects.insert(0,'praying mantis')
print(insects)

['praying mantis', 'cricket', 'ladybug', 'ant', 'grasshopper']

In [ ]:
insects.sort()
print(insects)

['ant', 'cricket', 'grasshopper', 'ladybug', 'praying mantis']

Can we sort the list backwards?

In [ ]:
insects.sort(reverse=True)
print(insects)

['praying mantis', 'ladybug', 'grasshopper', 'cricket', 'ant']

Count the number of times an element occurs in the list.

In [ ]:
insects.append('ladybug')
print(f"ladybug occurs {insects.count('ladybug')} times.")
print(f"locusts occurs {insects.count('locusts')} times.")

ladybug occurs 2 times.
locusts occurs 0 times.

Print out the element at index 2.

In [ ]:
print(insects)

['praying mantis', 'ladybug', 'grasshopper', 'cricket', 'ant', 'ladybug']

In [ ]:
print(insects[2])

grasshopper

What happens if we try to print (or access, or assign) an index which is larger than the length of the list?

In [ ]:
print(insects[10])

IndexError: ignored

In [ ]:
print(len(insects))

6

Change the element at index 1 to be different. Print the list again.

In [ ]:
insects[1] = "beetle"
print(insects)

['praying mantis', 'beetle', 'grasshopper', 'cricket', 'ant', 'ladybug']

Remove some elements from the list. (Removing by element, popping by index.) (Printing the list each time.) Remove by element and by index.

In [ ]:
insects.pop()
print(insects)

['praying mantis', 'beetle', 'grasshopper', 'cricket', 'ant']

In [ ]:
insects.remove('beetle')
print(insects)

['praying mantis', 'grasshopper', 'cricket', 'ant']

In [ ]:
insects.pop(2)
print(insects)

['praying mantis', 'grasshopper', 'ant']

Clear the list. (And print it again.)

In [ ]:
insects.clear()
print(insects)

[]

Lists are also handy in some other situations. For example, can we use use a list to simplify our [months of the year](#eg_months_cell) example?

In [ ]:
assert months_of_year(1) == "January"
assert months_of_year(2) == "February"
assert months_of_year(3) == "March"
assert months_of_year(4) == "April"
assert months_of_year(5) == "May"
assert months_of_year(6) == "June"
assert months_of_year(7) == "July"
assert months_of_year(8) == "August"
assert months_of_year(9) == "September"
assert months_of_year(10) == "October"
assert months_of_year(11) == "November"
assert months_of_year(12) == "December"
assert months_of_year(13) == ""
assert months_of_year("hi") == ""

In [ ]:
def months_of_year(num):
    months = ["", "January", "February", "March",\
              "April", "May", "June",\
              "July", "August", "September",\
              "October", "November", "December"]
    if isinstance(num, int) and num >= 1 and num <= 12:
        return months[num]
    else:
        return ""

Can we find out if an element is in the list? (Without searching through the list one by one.)

In [ ]:
months = ["", "January", "February", "March",\
              "April", "May", "June",\
              "July", "August", "September",\
              "October", "November", "December"]

In [ ]:
print("January" in months)

True

In [ ]:
if "Tomorrow" in months:
    print("It's there.")
else:
    print("It's not there.")

It's not there.

Can we loop through the list one by one?

In [ ]:
for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

Can we join two lists together? (aka What happens when we + two lists?)

In [ ]:
list1 = ['hi', 'there']
list2 = ['my', 'name', 'is', 'Sim']
list3 = list1 + list2
print(list3)

['hi', 'there', 'my', 'name', 'is', 'Sim']

Can lists contain lists? How would we access it? How would we print it?

In [ ]:
courses = [
           ['MATH1231', 'MATH1241', 'MATH2111'],
           ['COMP1010', 'COMP2111'],
           ['FINs3645', 'FINS3648'],
           ['PHYS1101']
]

In [ ]:
print(courses[0])

['MATH1231', 'MATH1241', 'MATH2111']

In [ ]:
print(courses[1])

['COMP1010', 'COMP2111']

In [ ]:
print(courses[0][0])

MATH1231

In [ ]:
for faculty in courses:
    #print(faculty)
    for course in faculty:
        print(course)
    print() # just prints a newline

MATH1231
MATH1241
MATH2111

COMP1010
COMP2111

FINs3645
FINS3648

PHYS1101

Could we make the game Tic Tac Toe?

How can we show that the order matters in a list?

# 2 - A warning about loops

Changing a list (or other collection), while looping over it, can cause unwanted results.

# 3 - Dictionaries

In the real world, dictionaries let us look up *words* and find *meanings*.
In Python, dictionaries let us look up *keys* and find *values*.

Like a list, but with meaningful keys instead of indexes 0, 1, 2...

Create a dictionary mapping classes to tutor or lecturer.

Which tutor teaches H12A?

Can we add another class to the dictionary?

Can we change which tutor takes a class?

Two tutors have swapped classes. How would we go about updating the dictionary?

Obfuscation

Is there another way to solve this problem?

> Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'

Dictionaries are:
* ordered*
* changeable
* does not allow duplicates

Note: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

What happens if we try and put a duplicate entry into a dictionary?

Can we loop through a dictionary and print out all the keys?

Using what we know about dictionaries, how could we use our loop through the keys, to access all the information?

Is there a more concise way to display/use all the data in a dictionary?

### Text Analysis Using Dictionaries: E-mail Example

This list contains the e-mail addresses of 4 different students.

In [ ]:
emails = ["z1234567@student.unsw.edu.au", "z7654321@unsw.edu.au", "z7891234@ad.unsw.edu.au", "z1357924@student.unsw.edu.au"]

Can we build a dictionary containing the Zids as keys and the e-mail addresses as values?

How many students prefer each e-mail domain?

Can we group students by their preferred e-mail domain?

# 4 - Tuples

Tuples are:
* ordered
* unchangeable
* allows duplicates

In Python, Tuples are like lists, with on key difference. They are immutable. That means they cannot be changed after they have been created. In this way, they are similar to strings. They are created (defined) using the () (rather than [ ] like in lists and { } like in dictionaries).

Can we use a tuple to return several values from a function?

When visiting a theme park, many rides require you to be a certain height before you can ride them.

At a specific park there are:

* Red Riders: 85-105cm tall. They have access to 9 rides.
* Green Riders: 106-131cm tall. They have access to 21 rides.
* Yellow Riders: 132cm and taller. They have access to 27 rides.

Write a function which takes in the user's height in cm (as a parameter) and returns a string ("Red Rider", "Green Rider" or "Yellow Rider") and the number of rides they have access to.

Write a function which asks the user for their height and then calls the function, and displays the results.

In COMP1010, we are not going to use Tuples in more detail than this. If you are interested in further exploring this topic I recommend:
* [W3Schools Tuples](https://www.w3schools.com/python/python_tuples.asp)
* [Tutorials Point Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

# 5 - Sets

We aren't going to cover Python Sets in COMP1010. If you are interested in this form of collection, I recommend:
* [W3Schools Sets](https://www.w3schools.com/python/python_sets.asp)

# 6 - Complex Data Structures

## 1 - House Hunting

The following cell defines a list of houses for sale. It includes their address, number of bedrooms and bathrooms, price, and features (garage, pool, granny flat, etc.)

In [ ]:
houses = [
    { 
        "address": "42 Wallaby Way, Sydney", 
        "bedrooms": 3, 
        "bathrooms": 2, 
        "features": ["garage", "pool"] 
    },
    { 
        "address": "123 Fake Street, Mosman", 
        "bedrooms": 6, 
        "bathrooms": 3, 
        "features": ["pool", "granny flat"]     
    },
    { 
        "address": "1 High Street, Kensington", 
        "bedrooms": 2, 
        "bathrooms": 1, 
        "features": [] 
    },
    { 
        "address": "109 Kirribilli Ave, Kirribilli", 
        "bedrooms": 10, 
        "bathrooms": 7, 
        "features": ["garage", "pool", "wine cellar", "tennis court"] 
    }
]


Write the function `find_houses(houses, bedrooms, bathrooms, features)` that returns a list of the addresses of all the houses with at least the given number of bedrooms and bathrooms and at least the given list of features.

**NOTE:** Don't assume the list of houses or set of possible features is constrained to what is written above. Your function should still work if new houses were added to the above list.

Use this cell to test your function:

In [ ]:
assert find_houses(houses, 3, 1, ["garage"]) == ["42 Wallaby Way, Sydney", "109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 6, 4, []) == ["109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 1, 1, ["granny flat"]) == ["123 Fake Street, Mosman"]

# 7 - Data Types Revisited: NoneType

`None` is a special value in Python we can use to represent values that are unknown.

**Important Info**:

* The type of `None` is `NoneType`. It is the only value of that type.
* Python has special support for dealing with `None` values in `if` statements.

Write a function `maximum(numbers)` that finds the maximum number in a list.

Copy the table from topic 3.1.6: Data Types here, and fill in an extra row for the `NoneType` data type.