<a href="https://colab.research.google.com/github/sim-mautner/cs1010/blob/main/lectures/03-python-and-programming-fundamentals/04-collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Topic 3<br>
> Python and Programming Fundamentals<br>
> COMP1010<br>
> Week 1-3

> Topic 3.4<br>
> Collections

# 1 - Lists

You have 4 students in the class. Create variables to store their project grades.

In [ ]:
student1 = 90
student2 = 87
student3 = 95
student4 = 76

What happens when you have 10 students in the class? Or 100? I hear there's at least one COMP course with 1000 students.

Lists are:
* Used to store multiple items in one variable
* Created using square brackets (eg `my_list = []`)
* Ordered
* Changeable
* Allow duplicate values

As always (in Python), lists are indexed from 0.

Create a list. (Topic suggestions welcome in chat.)

In [ ]:
insects = []

Print the list.

In [ ]:
print(insects)

[]

In [ ]:
insects = ['cricket', 'ladybug', 'ant']

In [ ]:
print(insects)

['cricket', 'ladybug', 'ant']

Append (add to the end) an element to the list. (And print it again.)

In [ ]:
insects.append('grasshopper')
print(insects)

['cricket', 'ladybug', 'ant', 'grasshopper']

Print out the length of the list.

In [ ]:
print(len(insects))

4

Add some more elements to the list (using `append` and `insert`). Sort the list. (And print it again.)

In [ ]:
insects.insert(0,'praying mantis')
print(insects)

['praying mantis', 'cricket', 'ladybug', 'ant', 'grasshopper']

In [ ]:
insects.sort()
print(insects)

['ant', 'cricket', 'grasshopper', 'ladybug', 'praying mantis']

Can we sort the list backwards?

In [ ]:
insects.sort(reverse=True)
print(insects)

['praying mantis', 'ladybug', 'grasshopper', 'cricket', 'ant']

Count the number of times an element occurs in the list.

In [ ]:
insects.append('ladybug')
print(f"ladybug occurs {insects.count('ladybug')} times.")
print(f"locusts occurs {insects.count('locusts')} times.")

ladybug occurs 2 times.
locusts occurs 0 times.

Print out the element at index 2.

In [ ]:
print(insects)

['praying mantis', 'ladybug', 'grasshopper', 'cricket', 'ant', 'ladybug']

In [ ]:
print(insects[2])

grasshopper

What happens if we try to print (or access, or assign) an index which is larger than the length of the list?

In [ ]:
print(insects[10])

IndexError: ignored

In [ ]:
print(len(insects))

6

Change the element at index 1 to be different. Print the list again.

In [ ]:
insects[1] = "beetle"
print(insects)

['praying mantis', 'beetle', 'grasshopper', 'cricket', 'ant', 'ladybug']

Remove some elements from the list. (Removing by element, popping by index.) (Printing the list each time.) Remove by element and by index.

In [ ]:
insects.pop()
print(insects)

['praying mantis', 'beetle', 'grasshopper', 'cricket', 'ant']

In [ ]:
insects.remove('beetle')
print(insects)

['praying mantis', 'grasshopper', 'cricket', 'ant']

In [ ]:
insects.pop(2)
print(insects)

['praying mantis', 'grasshopper', 'ant']

Clear the list. (And print it again.)

In [ ]:
insects.clear()
print(insects)

[]

Lists are also handy in some other situations. For example, can we use use a list to simplify our [months of the year](#eg_months_cell) example?

In [ ]:
assert months_of_year(1) == "January"
assert months_of_year(2) == "February"
assert months_of_year(3) == "March"
assert months_of_year(4) == "April"
assert months_of_year(5) == "May"
assert months_of_year(6) == "June"
assert months_of_year(7) == "July"
assert months_of_year(8) == "August"
assert months_of_year(9) == "September"
assert months_of_year(10) == "October"
assert months_of_year(11) == "November"
assert months_of_year(12) == "December"
assert months_of_year(13) == ""
assert months_of_year("hi") == ""

In [ ]:
def months_of_year(num):
    months = ["", "January", "February", "March",\
              "April", "May", "June",\
              "July", "August", "September",\
              "October", "November", "December"]
    if isinstance(num, int) and num >= 1 and num <= 12:
        return months[num]
    else:
        return ""

Can we find out if an element is in the list? (Without searching through the list one by one.)

In [ ]:
months = ["", "January", "February", "March",\
              "April", "May", "June",\
              "July", "August", "September",\
              "October", "November", "December"]

In [ ]:
print("January" in months)

True

In [ ]:
if "Tomorrow" in months:
    print("It's there.")
else:
    print("It's not there.")

It's not there.

Can we loop through the list one by one?

In [ ]:
for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

Can we join two lists together? (aka What happens when we + two lists?)

In [ ]:
list1 = ['hi', 'there']
list2 = ['my', 'name', 'is', 'Sim']
list3 = list1 + list2
print(list3)

['hi', 'there', 'my', 'name', 'is', 'Sim']

Can lists contain lists? How would we access it? How would we print it?

In [ ]:
courses = [
           ['MATH1231', 'MATH1241', 'MATH2111'],
           ['COMP1010', 'COMP2111'],
           ['FINs3645', 'FINS3648'],
           ['PHYS1101']
]

In [ ]:
print(courses[0])

['MATH1231', 'MATH1241', 'MATH2111']

In [ ]:
print(courses[1])

['COMP1010', 'COMP2111']

In [ ]:
print(courses[0][0])

MATH1231

In [ ]:
for faculty in courses:
    #print(faculty)
    for course in faculty:
        print(course)
    print() # just prints a newline

MATH1231
MATH1241
MATH2111

COMP1010
COMP2111

FINs3645
FINS3648

PHYS1101

Could we make the game Tic Tac Toe?

In [15]:
def print_board(board):
    print('   A  B  C')
    row_num = 1
    for row in board:
        # print a row
        print(f'{row_num}  ',end='')
        row_num += 1
        for cell in row:
            print(cell,end='  ')
        print() # goes onto the next line
        
def convert_col_letter(col):
    # A --> 1
    # B --> 2
    # C --> 3
    if col == 'A':
        return 1
    if col == 'B':
        return 2
    if col == 'C':
        return 3



def tic_tac_toe():
    board = [
             [' ',' ',' '],
             [' ',' ',' '],
             [' ',' ',' ']
    ]

    print_board(board)
    player_turn = 'X'


    finished = False

    while not finished:
        col = input("Enter column letter: ")
        col_num = convert_col_letter(col) - 1

        row_num = int(input("Enter row num: ")) - 1
        

        print(f"Your move {row_num} {col_num}")
        
        # TODO check if move is valid (eg on the board and not in a taken cell)
        # keep getting input until valid
        board[row_num][col_num] = player_turn

        print_board(board)

        # change player
        if player_turn == 'X':
            player_turn = 'O'
        else:
            player_turn = 'X'
        
        # TODO check if game is finished, and update finished (declare a winner)
    


tic_tac_toe()

   A  B  C
1
2
3
Enter column letter: A
Enter row num: 3
Your move 2 0
   A  B  C
1
2
3  X
Enter column letter: B
Enter row num: 2
Your move 1 1
   A  B  C
1
2     O
3  X
Enter column letter: C
Enter row num: 1
Your move 0 2
   A  B  C
1        X
2     O
3  X
Enter column letter: B
Enter row num: 3
Your move 2 1
   A  B  C
1        X
2     O
3  X  O
Enter column letter: B
Enter row num: 1
Your move 0 1
   A  B  C
1     X  X
2     O
3  X  O
Enter column letter: A
Enter row num: 1
Your move 0 0
   A  B  C
1  O  X  X
2     O
3  X  O
Enter column letter: C
Enter row num: 3
Your move 2 2
   A  B  C
1  O  X  X
2     O
3  X  O  X
Enter column letter: C
Enter row num: 2
Your move 1 2
   A  B  C
1  O  X  X
2     O  O
3  X  O  X
Enter column letter: A
Enter row num: 2
Your move 1 0
   A  B  C
1  O  X  X
2  X  O  O
3  X  O  X
Enter column letter: C
Enter row num: 1
Your move 0 2
   A  B  C
1  O  X  O
2  X  O  O
3  X  O  X

KeyboardInterrupt: ignored

How can we show that the order matters in a list?

In [17]:
assert [1,2,3] == [1,2,3]
assert [1,2,3] == [1,3,2]

AssertionError: ignored

# 2 - A warning about loops

Changing a list (or other collection), while looping over it, can cause unwanted results.

In [19]:
shopping = ['apples', 'bananas', 'grapes', 'jelly', 'mandarins']
for item in shopping:
    print(item)
    if item == 'bananas':
        shopping.remove('bananas')

apples
bananas
jelly
mandarins

# 3 - Dictionaries

In the real world, dictionaries let us look up *words* and find *meanings*.
In Python, dictionaries let us look up *keys* and find *values*.

Like a list, but with meaningful keys instead of indexes 0, 1, 2...

| Dictionary Term | Python Term | Characteristic |
|---|---|---|
| Word | Key | Must be unique |
| Meaning | Value | May be unique or not unique |

Create a dictionary mapping classes to tutor or lecturer.

In [24]:
classes = {
    "T13A":"Alicia",
    "W11A":"Helen",
    "W15A":"Will",
    "H14A":"Ellie"
}

In [25]:
print(classes)

{'T13A': 'Alicia', 'W11A': 'Helen', 'W15A': 'Will', 'H14A': 'Ellie'}

Which tutor teaches H14A?

In [21]:
classes['H14A']

'Ellie'

Can we add another class to the dictionary?

In [29]:
classes['H15A'] = "Kai"
print(classes)

{'T13A': 'Kai', 'W11A': 'Helen', 'W15A': 'Will', 'H14A': 'Ellie', 'H15A': 'Kai'}

Can we change which tutor takes a class?

In [30]:
classes['T13A'] = 'Kai'
print(classes)

{'T13A': 'Kai', 'W11A': 'Helen', 'W15A': 'Will', 'H14A': 'Ellie', 'H15A': 'Kai'}

Two tutors have swapped classes. How would we go about updating the dictionary?

In [31]:
temp = classes['W11A']
classes['W11A'] = classes['W15A']
classes['W15A'] = temp

print(classes)

{'T13A': 'Kai', 'W11A': 'Will', 'W15A': 'Helen', 'H14A': 'Ellie', 'H15A': 'Kai'}

Check In:
* What is the purpose of a dictionary?
* When would you use a dictionary instead of a list?
* Can you create and update a dictionary?

In [32]:
# Which tutor is teaching a class?

print(classes['W11A'])

# Which class(es) is Will teaching?

# Go through everything in our dictionary, and make a note of all the classes (keys)
# taught by that tutor (value)

Will

Obfuscation

Is there another way to solve this problem?

> Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'

In [33]:
text = "Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'"

translation = {"e":"a", "a":"e"}

translated = ""

for character in text:
    if character in translation: # checks the keys of the dictionary
        translated += translation[character]
    else:
        translated += character

print(translated)

Oh no, someone has done something terrible to my writing. They've swapped around the letter 'a' and the letter 'e'

Dictionaries are:
* ordered*
* changeable
* does not allow duplicates

Note: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

What happens if we try and put a duplicate entry into a dictionary?

In [34]:
print(classes)

{'T13A': 'Kai', 'W11A': 'Will', 'W15A': 'Helen', 'H14A': 'Ellie', 'H15A': 'Kai'}

In [36]:
classes['T13A'] = 'Helen'
print(classes)

{'T13A': 'Helen', 'W11A': 'Will', 'W15A': 'Helen', 'H14A': 'Ellie', 'H15A': 'Kai'}

Can we loop through a dictionary and print out all the keys?

In [37]:
for tute in classes:
    print(tute)

T13A
W11A
W15A
H14A
H15A

In [38]:
for tute in classes.keys():
    print(tute)

T13A
W11A
W15A
H14A
H15A

In [39]:
for tutor in classes.values():
    print(tutor)

Helen
Will
Helen
Ellie
Kai

Using what we know about dictionaries, how could we use our loop through the keys, to access all the information?

In [40]:
for tute in classes.keys():
    tutor = classes[tute]
    print(f"{tute} is taught by {tutor}")

T13A is taught by Helen
W11A is taught by Will
W15A is taught by Helen
H14A is taught by Ellie
H15A is taught by Kai

Is there a more concise way to display/use all the data in a dictionary?

In [43]:
for tute,tutor in classes.items():
    # .items() gives you both the key and the value
    # the key gets put into the first variable (tute)
    # the value gets put into the second variable (tutor)
    print(f"{tute} is taught by {tutor}")

T13A is taught by Helen
W11A is taught by Will
W15A is taught by Helen
H14A is taught by Ellie
H15A is taught by Kai

Go back to question about tutors/classes above.

In [46]:
# Which class(es) is Will teaching?

# Go through everything in our dictionary, and make a note of all the classes (keys)
# taught by that tutor (value)

classes_taught_by_helen = []

for tute,tutor in classes.items():
    if tutor == "Helen":
        classes_taught_by_helen.append(tute)

print(classes_taught_by_helen)

['T13A', 'W15A']

### Text Analysis Using Dictionaries: E-mail Example

This list contains the e-mail addresses of 4 different students.

In [48]:
emails = ["z1234567@student.unsw.edu.au", "z7654321@unsw.edu.au", "z7891234@ad.unsw.edu.au", "z1357924@student.unsw.edu.au"]

Can we build a dictionary containing the Zids as keys and the e-mail addresses as values?

In [54]:
zid_and_emails = {}

for email in emails:
    #print(email)
    zid = email[0:8]
    #print(f"zid = {zid}")
    zid_and_emails[zid] = email

print(zid_and_emails)

{'z1234567': 'z1234567@student.unsw.edu.au', 'z7654321': 'z7654321@unsw.edu.au', 'z7891234': 'z7891234@ad.unsw.edu.au', 'z1357924': 'z1357924@student.unsw.edu.au'}

How many students prefer each e-mail domain?

In [67]:
'''
student.unsw.edu.au --> tally of how many students have this domain
unsw.edu.au
'''

# Approach #1: Using string and knowing the length of the zid

tally_preferred_domain = {}

for email in emails:
    print(email)
    domain = email[9:]
    print(f"domain = {domain}")

    # Check it's in the dictionary to begin with
    if domain not in tally_preferred_domain.keys():
        tally_preferred_domain[domain] = 0
    # Add one to the tally for that domain
    tally_preferred_domain[domain] += 1

print(tally_preferred_domain)

z1234567@student.unsw.edu.au
domain = student.unsw.edu.au
z7654321@unsw.edu.au
domain = unsw.edu.au
z7891234@ad.unsw.edu.au
domain = ad.unsw.edu.au
z1357924@student.unsw.edu.au
domain = student.unsw.edu.au
{'student.unsw.edu.au': 2, 'unsw.edu.au': 1, 'ad.unsw.edu.au': 1}

In [68]:
'''
student.unsw.edu.au --> tally of how many students have this domain
unsw.edu.au
'''

# Approach #2: This one splits on the @ symbol, and would work even if the zid was
# a different length in each e-mail

tally_preferred_domain = {}

for email in emails:
    #print(email)
    pieces_of_email = email.split('@')
    #print(pieces_of_email)
    domain = pieces_of_email[1]
    print(f"domain = {domain}")

    # Check it's in the dictionary to begin with
    if domain not in tally_preferred_domain.keys():
        tally_preferred_domain[domain] = 0
    # Add one to the tally for that domain
    tally_preferred_domain[domain] += 1

print(tally_preferred_domain)

domain = student.unsw.edu.au
domain = unsw.edu.au
domain = ad.unsw.edu.au
domain = student.unsw.edu.au
{'student.unsw.edu.au': 2, 'unsw.edu.au': 1, 'ad.unsw.edu.au': 1}

Can we group students by their preferred e-mail domain?

In [70]:
preferred_domain = {}

for email in emails:
    pieces_of_email = email.split('@')
    student = pieces_of_email[0]
    domain = pieces_of_email[1]

    # Check it's in the dictionary to begin with
    if domain not in preferred_domain.keys():
        preferred_domain[domain] = []
    # Add one to the tally for that domain
    preferred_domain[domain].append(student)

print(preferred_domain)

{'student.unsw.edu.au': ['z1234567', 'z1357924'], 'unsw.edu.au': ['z7654321'], 'ad.unsw.edu.au': ['z7891234']}

# 4 - Tuples

Tuples are:
* ordered
* unchangeable
* allows duplicates

In Python, Tuples are like lists, with one key difference. They are immutable. That means they cannot be changed after they have been created. In this way, they are similar to strings. They are created (defined) using the () (rather than [ ] like in lists and { } like in dictionaries).

Can we use a tuple to return several values from a function?

When visiting a theme park, many rides require you to be a certain height before you can ride them.

At a specific park there are:

* Red Riders: 85-105cm tall. They have access to 9 rides.
* Green Riders: 106-131cm tall. They have access to 21 rides.
* Yellow Riders: 132cm and taller. They have access to 27 rides.

Write a function which takes in the user's height in cm (as a parameter) and returns a string ("Red Rider", "Green Rider" or "Yellow Rider") and the number of rides they have access to.

Write a function which asks the user for their height and then calls the function, and displays the results.

In [77]:
def height_to_num_rides(height):
    if isinstance(height,str):
        print(height[-2:])
        if height[-2:] == "cm":
            print(f"Your height is actually {height[0:-2]}")
            height = int(height[:-3])

    if isinstance(height,int):
        if height>=85 and height<106:
            return ("Red Rider",9)
        elif height<132:
            return ("Green Rider",21)
        elif height>=132:
            return ("Yellow Rider",27)
        else:
            return ("",0)
    
    # TODO make it return None once we have covered that topic

result = height_to_num_rides(131)
rider_type = result[0]
num_rides = result[1]

print(f"You are a {rider_type} and can go on {num_rides} rides.")

rider_type,num_rides = height_to_num_rides(104)

print(f"You are a {rider_type} and can go on {num_rides} rides.")

cm
Your height is actually 100
You are a Green Rider and can go on 21 rides.
You are a Red Rider and can go on 9 rides.

In [79]:
# Practicing Testing

def test_height_to_num_rides():
    assert height_to_num_rides(50) == ("",0)
    assert height_to_num_rides(100) == ("Red Rider",9)
    assert height_to_num_rides(130) == ("Green Rider",21)
    assert height_to_num_rides(133) == ("Yellow Rider",27)
    assert height_to_num_rides("130cm") == ("Green Rider",21)

In COMP1010, we are not going to use Tuples in more detail than this. If you are interested in further exploring this topic I recommend:
* [W3Schools Tuples](https://www.w3schools.com/python/python_tuples.asp)
* [Tutorials Point Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

# 5 - Sets

We aren't going to cover Python Sets in COMP1010. If you are interested in this form of collection, I recommend:
* [W3Schools Sets](https://www.w3schools.com/python/python_sets.asp)

# 6 - Complex Data Structures

## 1 - House Hunting

The following cell defines a list of houses for sale. It includes their address, number of bedrooms and bathrooms, price, and features (garage, pool, granny flat, etc.)

In [80]:
houses = [
    { 
        "address": "42 Wallaby Way, Sydney", 
        "bedrooms": 3, 
        "bathrooms": 2, 
        "features": ["garage", "pool"] 
    },
    { 
        "address": "123 Fake Street, Mosman", 
        "bedrooms": 6, 
        "bathrooms": 3, 
        "features": ["pool", "granny flat"]     
    },
    { 
        "address": "1 High Street, Kensington", 
        "bedrooms": 2, 
        "bathrooms": 1, 
        "features": [] 
    },
    { 
        "address": "109 Kirribilli Ave, Kirribilli", 
        "bedrooms": 10, 
        "bathrooms": 7, 
        "features": ["garage", "pool", "wine cellar", "tennis court"] 
    }
]


Write the function `find_houses(houses, bedrooms, bathrooms, features)` that returns a list of the addresses of all the houses with at least the given number of bedrooms and bathrooms and at least the given list of features.

**NOTE:** Don't assume the list of houses or set of possible features is constrained to what is written above. Your function should still work if new houses were added to the above list.

In [88]:
def find_houses(houses, bedrooms, bathrooms, features):
    suitable_addresses = []

    for house in houses:
        address = house['address']
        num_beds = house['bedrooms']
        num_bath = house['bathrooms']
        feature_list = house['features']

        # Assume it's suitable
        suitable = True

        if num_beds < bedrooms:
            suitable = False
        if num_bath < bathrooms:
            suitable = False

        # Check for each feature I'm looking for (features), is it in feature_list?
        for feature in features:
            if feature not in feature_list:
                suitable = False

        if suitable == True:
            suitable_addresses.append(address)

    return suitable_addresses

['42 Wallaby Way, Sydney', '109 Kirribilli Ave, Kirribilli']

Use this cell to test your function:

In [89]:
assert find_houses(houses, 3, 1, ["garage"]) == ["42 Wallaby Way, Sydney", "109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 6, 4, []) == ["109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 1, 1, ["granny flat"]) == ["123 Fake Street, Mosman"]

# 7 - Data Types Revisited: NoneType

`None` is a special value in Python we can use to represent values that are unknown.

**Important Info**:

* The type of `None` is `NoneType`. It is the only value of that type.
* Python has special support for dealing with `None` values in `if` statements.

In [90]:
name = None
print(name)
print(type(name))

None
<class 'NoneType'>

Write a function `maximum(numbers)` that finds the maximum number in a list.

In [96]:
def maximum(numbers):
    max_so_far = None
    for num in numbers:
        if max_so_far is None or num > max_so_far:
            max_so_far = num
    return max_so_far

In [97]:
assert maximum([1,2,3]) == 3
assert maximum([-1,-2,-3]) == -1
assert maximum([]) == None

Copy the table from topic 3.1.6: Data Types here, and fill in an extra row for the `NoneType` data type.