<a href="https://colab.research.google.com/github/sim-mautner/cs1010/blob/main/23T0_Lab_1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 1b Total Marks: (currently 5, but will likely be changed in the near future)

## 1. Variables, Prints, Inputs and Types (0.3 mark)
Edit the following code so that it prints out the sum of the first two numbers, the third input added to 100 and the third input as an int. Do not edit the last two lines

EXAMPLE:

```
What is your first number? 5
What is your second number? 6
What is your third number? 7
the sum of the first two numbers is:  11
after adding 100 to the third input, it becomes 107
the third input is a  <class 'int'>
```

In [ ]:
first = input("What is your first number? ")
seconb = input("What is your second number? ")
third = input("What is your third number? ")

print("the sum of the first two numbers is: ", first + second)
int(third) + 100
print("the third number + 100 is", third)
print("the third input is a ", type(third))

## 2. String manipulation (0.7 mark)
Given the following string:

In [ ]:
famous_quote = "Not everyone can become a great artist, but a great artist can come from anywhere."

**Write python code in the cells provided to answer the following questions.**

(0.1 Marks)
You are asked to find the 19th character in this string. You know that all letters, spaces and punctuation are considered characters. You think to yourself, "There are two possible interpretations to this question." 

Hint: Think about how a computer starts counting vs how a human starts counting

In [ ]:
# Interpretation 1

In [ ]:
# Interpretation 2

(0.1 Marks) Write an explanation why these are two possible correct interpretations to the same question.

Put your explanation here:

(0.1 Marks) Use an in-built function to find out how many characters there are in the string below (including all spaces and punctuation)?

In [ ]:
famous_quote = "Not everyone can become a great artist, but a great artist can come from anywhere."

#type code here

(0.2 Marks) Use a string method as well as your previous answer to figure out how many characters are in the string (**not** including spaces, full stops or commas)

**HINT:** Think how you might calculate the number of spaces, full stops or commas in the string first.

In [ ]:
famous_quote = "Not everyone can become a great artist, but a great artist can come from anywhere."

#type code here

(0.2 Marks) Use in-built functions/methods to convert the string to be upper-case with full stops replaced by exclamation marks

In [ ]:
famous_quote = "Not everyone can become a great artist, but a great artist can come from anywhere."

#type code here
print(famous_quote)

Not everyone can become a great artist, but a great artist can come from anywhere.

## 3. Pattern generation (0.7 mark)

(0.1 Marks) Write code that produces the following string, minimising repetition as much as possible.
```
++++-----~~~~~~~~~
```

In [ ]:
#type code here

(0.2 Marks) Write code that produces the following string, minimising repetition as much as possible. 
Requirements: Use one loop
```
0
*1*
5
*2*
10
*3*
15
*4*
20
*5*
25
*6*
```

In [ ]:
#type code here

(0.4 Marks) Write code that produces the following pattern, minimising repetition as much as possible. 

Requirements: Use a loop

Hint: Use two loops
(this is a 10 x 7 grid)
```
**********
**********
**********
**********
**********
**********
**********
```

In [ ]:
#type code here

## 4. Lists (0.5 marks)

Like with strings, Python features many operations that can be performed on lists. These include:

* Concatenating (joining together) them with `+`
* Replicating (repeating) them with `*`
* Indexing them with `[...]`

Use these operations on the following list to answer the questions below. They can all be solved **without** loops.

Note make sure to re initialise the students list below after changes to the list. (rerun the below line of code)

In [ ]:
students = ["Sally Studies", "Penelope Prepares", "Francis Forgets", "David Doesn't-Read-Spec", "Oliver Overconfident", "Larry Leaves-It-To-The-Last-Minute"]

(0.1 Marks) Who is the student at index 2?

In [ ]:
# add your code here

(0.1 Marks) Replace "David Doesn't-Read-Spec" with a new student "Emily Eager".

In [ ]:
# add your code here

(0.1 Marks) Add a new student "Aurora Sleeps" onto the end of the list

In [ ]:
# add your code here

(0.2 Marks) Create a new list with just the first two students repeated 2 times (i.e. `["Sally Studies", "Penelope Prepares", "Sally Studies", "Penelope Prepares"]`).

In [ ]:
# add your code here

## 5. For Loops (0.8 marks)

(0.2 Marks) Write a `for... in...` loop to join all the words in the given list together into a single string (i.e. "correcthorsebatterystaple").
Requirement: do not use a while loop

In [ ]:
the_list = ["correct", "horse", "battery", "staple"]
# add your code here

(0.3 Marks) Write a for loop to calculate and print $2a + e$ where $a$ is the number of times the letter "a" appears in all the words and $e$ is the number of times the letter "e" occurs given any input

Requirement: do not use a while loop

Example:
Input: "correct horse battery staple"
Output: 8

In [ ]:
the_string = input("enter your string here: ")
# do not edit above
# add your code here

(0.3 Marks) Write a program which uses a for loop to compute and print the sum of all the numbers in the given list excluding any that are 13 or greater. You have been provided a sample list below which should print 37

Requirement: do not use a while loop

In [ ]:
sample_list = [4 , 7 , 2, 13, 3, 5, 4, 12, 14]
# add your code here

## 6. While loops (0.5 mark)

(0.5 Marks) Write a program that prints all the positive *odd* numbers less than `n` with a `while` loop.

Requirement: Do not use a for loop

In [ ]:
n = input("enter the value for n: ")
# do not edit this code above
# add your code below

## 7. Loops and Conditionals (1.5 marks)

### Vowel Counting (Implementation)

(0.5 Marks) Write a program that counts the total number of vowels (irregardless of capitalisation) in a given string and prints the total number of vowels.
Requirements: There may only be 5 if conditions maximum.
```
i.e 
  if x == 'a':
  elif x == 'b':
is 2 conditions 
  if x == 'a' or x == 'b':
is also 2 conditions
  if x == 'a' and y == 'b':
  elif x == 'c':
is 3 conditions
```

In [ ]:
text = input("enter your string here: ")
# add your code here

### Card game

(1 mark) Consider a game where Aces are worth 5 points, Kings 3 points, Queens 2 points, Jacks 1 point, and all other cards are not worth any points 

(one = 0 points, two = 0 points etc.). 

Write a program, that first takes in 5 card inputs, inserts them into one list and prints the list. Then adds up the number of points and displays that.

Assume that all inputed cards are valid and lower case and non-plural

Example Output:

```
Enter your card: *ace*
Enter your card: *king*
Enter your card: *ace*
Enter your card: *three*
Enter your card: *five*
['ace', 'king', 'ace', 'three', 'five']
Total number of points: 13
```

In [ ]:
#enter your code here